<!doctype html>
<html>
<head>
    <title>Project Tracker</title>
</head>

<body>

  <form action="/student">
      <label>Enter GitHub username
          <input type="text" name="github">
      </label>
      <input type="submit" value="Display Student">
  </form><br>

  <h1>New User</h1><br>
 
  <form action="/student-add" method='POST'>
    <label>Enter GitHub username
          <input type="text" name="github"><br>
      </label>
      <label>Enter first name
          <input type="text" name="first_name"><br>
      </label>
      <label>Enter last name
          <input type="text" name="last_name"><br>
      </label>
      <input type="submit" value="submit new user"><br>
  </form><br>

  





</body>
</html>